<div class="modal fade" id="register" role="dialog" data-keyboard="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Register to MAXIMUS</h4>
			</div>
				<div class="modal-body">
					<%= form_for(:user, :url => registration_path(:user)) do |f| %>
						<%= f.label :Email %>
						<%= f.text_field :email %>
						<br>
						<%= f.label :Username %>
						<%= f.text_field :username %>
						<br>
						<%= f.label :Password %>
						<%= f.password_field :password %>
						<br>
						<%= f.check_box :remember_me %>
						<%= f.label :remember_me %>
						<br>
						<%= f.submit 'Register' %>
					<% end %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
		</div>
	</div>
</div>