<center>
<h1>
  <%= @style.title %>
</h1>
 
<h4>
  <%= @style.text %>
</h4>
<%= if !@pictures.nil? %>
	<%= @pictures.each do |pic| { %>
		<%= image_tag pic.url(:normalermodus) %>
	<% } %>
<% end %>
</center>