<center>
<h1>
  <%= @style.title %>
</h1>
 
<h4>
  <%= @style.text %>
</h4>
<% @pictures.each do |pic| %>
	<%= image_tag pic.image.url(:medium) %>
<% end %>
<%= form_for [@style, @style.comments.new] do |i| %>
	<%= i.text_field :content, placeholder: 'Write a Comment...' %>
	<%= i.submit %>
<% end %>
</center>