<!DOCTYPE html>
<html>
	<head>
		<title>MAXIMUS</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		<style>
			
		</style>
	</head>

	<body>
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">MAXIMUS</a>
				</div>
					<!-- Menu Items -->
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/styles">Fashion</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/users/edit">Edit</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<% if user_signed_in? %>
							<%= link_to "Logout", destroy_user_session_path, :method => :delete,
							:class => 'btn btn-info'%>
						<% else %>
							<!-- Modal -->
							<%= link_to :new_user_registration do %>
								<button type="button" class="btn btn-primary" href="/users/sign_in">Register</button>
							<% end %>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">Login</button>
						<% end %>
					</form>
				</div>
			</div>
		</nav>
		
		<% if flash[:notice] %>
			<div class="notifications">
				<p class=" alert alert-info"><%= notice %></p>
			</div>
		<% end %>
		
		<%= render file: "share/loginpopup.html.erb" %>
		<% form_for(:user, url: user_session_path) do |i|%>
			<% i.label :username, :class => 'nav navbar-nav' %>
		<% end %>

		<!-- Pop Ups -->


		<%= yield %>
	</body>
</html>
<!-- Following Page Content -->